/* Colors */

$black: #001219;
$white: #f9faf9;
$neutral: #e1dada;

$text: $black;

/* Coolors Exported Palette - coolors.co/745296-77b6ea-85af80-ffcb69-ff6978-9b2226 */
$purple: #745296ff;
$blue: #77B6eaff;
$green: #85af80ff;
$yellow: #ffcb69ff;
$pink: #ff6978ff;
$red: #9b2226ff;

/* Coolors Exported Light Palette - coolors.co/e0d7ea-dcecf9-dbe7d9-ffeac2-ffebed-f0bcbe */
$light-purple: #e0d7eaff;
$light-blue: #dcecf9ff;
$light-green: #dbe7d9ff;
$light-yellow: #ffeac2ff;
$light-pink: #ffebedff;
$light-red: #f0bcbeff;

/* Responsivity */
$desktopMinimum: 992px;
$veryTinyMax: 576px;

$titleFont: 'Shrikhand', serif;
$headingFont: 'Rammetto One', sans-serif;
$bodyFont: 'Dongle', sans-serif;

$regularFont: $bodyFont;

@mixin mobile {
    @media (max-width: $desktopMinimum) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktopMinimum) {
        @content;
    }
}

@mixin verytall {
    @media (min-height: 1600px) {
        @content;
    }
}

@mixin transition ($transition){
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    -ms-transition: $transition;
    transition: $transition;
}

@mixin blob {
    border: 3px solid $black;
    border-radius: 1em;
    @include desktop { height: 100%; }

    background-color: $white;
    display: block;
}
