@import "_flexbox";
@import "_variables";

html {
    height: 100%;
}

body {
    @include display-flex;
    @include flex-direction(column);
    @include flex-justify-content(space-between);
    @include flex-align-items(center);
    height: 97%;
    margin: 0;

    color:$text;
    font-family: $regularFont;

    @include desktop { font-size: 1.2em; }
    @include mobile { font-size: 1em; }

    background-color: $light-purple;
    border-top: 1em solid $purple;

    @mixin backgroundBorder ($bgColor, $borderColor){
        background-color: $bgColor;
        border-top: 1em solid $borderColor;
    }

    &.purple { @include backgroundBorder($light-purple, $purple); }
    &.blue   { @include backgroundBorder($light-blue, $blue); }
    &.green  { @include backgroundBorder($light-green, $green); }
    &.yellow { @include backgroundBorder($light-yellow, $yellow); }
    &.pink   { @include backgroundBorder($light-pink, $pink); }
    &.red    { @include backgroundBorder($light-red, $red); }
}

h1,h2,h3,h4,h5 {
    font-family: $headingFont;
    color: $black;
    font-weight: lighter;
}

a {
    color:$blue;
    &:hover {
        color:$green;
    }
    &:visited {
        color: $purple;
        &:hover { color:$green; }
    }
}

.site-content {
    width: 90%;
    max-width: 55rem;

    @include mobile { padding: 0 1rem 1rem 1rem; }
    @include flex-grow(1);

    img {
        @include desktop {
            max-width: 900px;
        }

        @include mobile {
            max-width: 100%;
            width: auto;
            height: auto;
        }
    }
}

footer {
    margin-top: 1em;

    a {
        color: $black;
        text-decoration: none;
        padding-right: 1em;

        &:hover {
            color: $black;
            text-decoration: underline;

            &:visited { color: $black; }
        }

        &:visited { color: $black; }
     }
}

blockquote {
    border-left: 0.5em solid gray;
    padding-left: 1em;
    margin-left: 0;
    font-style: italic;
}

// === HELPERS === === === === ===

.desktop-only { @include mobile{ display: none !important; }; }
.mobile-only { @include desktop { display: none !important; }; }

.blob {
    @include blob();
    font-size: 1.5em;
    line-height: 1em;
    padding: 0.5em;
}
