---
layout: default
---

<div class="gallery-title">
    <h2>{{ page.title }}</h2>
    <p>Click an image to see full-size and other photos of that work.</p>
</div>

<ul class="gallery-grid">
{% assign works = paginator.posts | sort: 'date' | reverse %}
{% for work in works %}
<li>
    <img src="{{work.pics.first.src}}" loading="lazy"
         alt="{{work.pics.first.alt}}" style="width:100%"
         onclick="openModal({{forloop.index}})">

    <div id="modal-{{forloop.index}}" class="modal colorway">
        <div class="modal-content">
            <span class="close" onclick="closeModal({{forloop.index}})">
                <i class="fas fa-times"></i>
            </span>
            <h3>{{work.title}}</h3>
            {% for pic in work.pics %}
            <div class="slides">
                <img srctbd="{{pic.src}}" alt="{{pic.alt}}" style="width:100%">
                <div class="numbertext">{{forloop.index}} / {{forloop.length}}</div>
            </div>
            {% endfor %}
            <a class="prev" onclick="plusSlides({{forloop.index}}, -1)">
                <i class="far fa-hand-point-left"></i>
            </a>
            <a class="next" onclick="plusSlides({{forloop.index}}, 1)">
                <i class="far fa-hand-point-right"></i>
            </a>
            <div class="caption-container">
                <p id="caption">{{work.description}}</p>
                {% if work.credit.text %}
                    <p class="photo-credit">
                        {{work.credit.text}}
                        {% if work.credit.url %}
                            <a href="{{work.credit.url}}">
                            <i class="fas fa-external-link-alt"></i>
                            </a>
                        {% endif %}
                    </p>
                {% endif %}
                <span class="mobile-only" style="cursor: pointer;" onclick="closeModal({{forloop.index}})">
                    <i class="fas fa-times"></i>
                </a>
            </div>
        </div>
    </div>
</li>
{% endfor %}
</ul>
<script>

function openModal(id) {
  loadImages(id);
  document.getElementById(`modal-${id}`).style.display = "block";
  showSlides(id, 1);
}

function closeModal(id) {
  document.getElementById(`modal-${id}`).style.display = "none";
}

function plusSlides(id, n) {
  showSlides(id, slideIndex += n);
}

function loadImages(id) {
  document.querySelectorAll(`#modal-${id} .slides img`).forEach(
    image => image.setAttribute("src", image.getAttribute("srctbd")));
}

function showSlides(id, n) {
  slideIndex = n;
  var i;
  var slides = document.querySelectorAll(`#modal-${id} .slides`);
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  slides[slideIndex-1].style.display = "block";
}
</script>